<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% data.forEach(item => { %>
                <div class="col">
                    <!-- build card in here... -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <%= item.title %>  
                            </h3> 
                            <% if (item.img_url) { %> 
                            <img src="/image/program images/<%= item.img_url %>" alt="<%= item.title %>" class="img-fluid mb-2"> <% } %>
                            <ul class="program-list list-group list-group-flush">
                                <li class="program-list-item list-group-item">
                                    Year Released: <%= item.yr_released %>
                                </li>
                                <li class="program-list-item list-group-item">
                                    Runtime: <%= item.runtime %>
                                </li>
                                <li class="program-list-item list-group-item">
                                    Format: <%= item.format %>
                                </li>
                                <li class="program-list-item list-group-item">
                                    Program Rating: <%= item.program_rating %>
                                </li>
                                <li class="program-list-item list-group-item">
                                    Rating: <%= item.rating %>
                                </li>
                                <li class="program-list-item list-group-item">
                                    Description: <%= item.description %>
                                </li>
                                <!-- all the li need to go inside the ul -->
                            </ul>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">
                                <a href="/programs/<%= item.programs_id %>" class="card-link">
                                    view more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
       </div>
    </div>
</main>

<%- include('../partials/footer') %>